sam_vit_h_4b8939.pth
diffvg/
pretrained_models
__pycache__/
/LayeredVectorization/TranSalNet/datasets
**/all_simplified_image_sequence/
**/masks/
**/struct_svgs/
**/struct&visual_svgs/
**/__pycache__/
**/depth_eval_output/
*slurm*
